*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.material-symbols-outlined {
  font-size: 30px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
   color:red;
}
.time{font-size: x-large;}

body{
     background: linear-gradient(to right, #e3f2fd, #ffffff); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}
.container{
    border: #222 solid 2px;
    width: 80%;
    height: 80vh;
    border-radius: 10px;
}
.title{
   color:#222;
   text-align: center; 
   font-size: xx-large;
   margin-top: 10px;
}
.heder_container{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.chronometre{
    display: flex;
    width: 5%;

    justify-content: space-between;
    
}
.score {
    display: flex;
    width: 10%;
    justify-content: space-between;
    font-size: x-large;
}

.question{ 
    text-align: center;
    font-size: x-large;
    margin-top: 15px;
}
.reponses{
   width: 70%;
   margin: auto;
    font-size: large;
    margin-top: 10px;
}
.reponse1,.reponse2,.reponse3,.reponse4{
    padding: 5px;
    width:100%;
}

label{
    display: inline-block;
    width: 90%;
    border: black 2px solid;
    border-radius: 5px;
    padding:10px;
    background-color: white;
}

.nbr_question{
    margin-top: 10px;
}

button{
    width: 80px;
    height: 40px;
    padding: 5px;
    background-color: rgb(0, 208, 255);
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 76, 255);
}
.choix{
    cursor: pointer;
}

label:has(.choix:checked){
    border-color: blue;
    color: blue;
}

.valider{
    background-color: greenyellow;
}